$c_black: #000;
$c_white: #FFF;
$c_text: #3B434E;
$c_gray: #A4A4A4;
$c_text-light: #787D85;
$c_brand: #7653FC;
$c_brand-dark: #5F38DC;
$c_light-brand: #F9F8FF;
$c_bg: #F5F6F8;
$c_alert: #FC836D;
$c_red: #F00;
$c_success: #1DC37E;
$c_green-light: #C8F8E4;
$c_border: #EBEBEB;
$c_shadow: rgb(0 0 0 / 5%);

$font-family: "Noto Sans KR", sans-serif;

$br-s: 720px;
$br-m: 992px;
$br-l: 1200px;
