*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: $basic-white;

  background-color: $primary-color;

  @include indent-reset;

  text-transform: uppercase;

  font-family: $main-font;

  &:hover,
  &:focus-within {
    background-color: $primary-color-hover;
  }

  &:active {
    background-color: $primary-color-active;
  }

  &:disabled {
    background-color: $normal-gray;
  }
}

.container {
  width: $mobile-width;
  margin: 0 auto;

  background-color: $basic-white;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
