$basic-black: #000000;
$basic-white: #ffffff;
$light-black: #333333;
$primary-color: #81b3d2;
$secondary-color:#eeeeee;
$light-gray: #f2f2f2;
$normal-gray: #e5e5e5;
$dark-gray: #eaeaea;
$extra-dark-gray: #d5d5d5;

$controls-color: #5c6870;

$dividing-line: #dbdbdb;

$primary-color-hover: #669ec0;
$primary-color-active: #5496bd;

$active-menu-item: #766357;
$active-hover-menu-item: #604e43;

$outline-color: #6997c6;

$box-shadow: rgba(0, 1, 1, 0.15);

$main-font: "PT Sans", "Arial", sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dppx: 1.5dppx;

$nav-height: 56px;
