.advantages__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;

  counter-reset: advantages-count;
}

.advantages__item {
  width: 100%;
  background-color: $secondary-color;

  &--main {
    color: $basic-white;
    background-color: $primary-color;

    .advantages__item-info {
      padding: 38px 10px;

      &--first {
        background-image: url("../img/bg-triangle.svg");
        background-repeat: no-repeat;
        background-position: center top;
        padding: 70px 10px 40px;
      }
    }

    img {
      display: block;
      height: 260px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;

      img {
        width: 512px;
        height: 256px;
        object-fit: cover;
      }

      .advantages__item-info {
        width: 33.3334%;
        padding: 42px 30px;

        &--first {
          background-image: none;
        }
      }

      &:nth-child(2) .advantages__item-info {
        order: 1;
        padding: 42px 45px;
      }
    }

    @media (min-width: $desktop-width) {
      img {
        width: 800px;
      }

      .advantages__item-info {
        padding: 50px 30px;
      }

      &:nth-child(2) .advantages__item-info {
        padding: 50px 30px;
      }

      &:nth-child(2) img {
        object-position: 0 -17px;
      }
    }
  }

  &--secondary {
    .advantages__item-info {
      padding: 25px 15px;
      margin: 0 20px;
      border-bottom: 1px solid $extra-dark-gray;

      @media (min-width: $tablet-width) {
        border-bottom: none;

        padding: 42px 15px;
      }

      @media (min-width: $desktop-width) {
        border-bottom: none;

        padding: 42px 15px 64px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 33.3334%;
    }
  }

  &:last-child .advantages__item-info {
    border-bottom: none;
  }
}

.advantages__item-title {
  margin: 0 0 16px;

  @include font-set(18px, 26px, bold);

  @media (min-width: $tablet-width) {
    margin: 0 auto 24px;
    max-width: 151px;

    @include font-set (21px, 26px, bold);
  }

  &::after {
    counter-increment: advantages-count;
    content: "— №"counter(advantages-count) " —";

    display: block;
    margin-top: 12px;

    @include font-set (14px, 21px, normal);
  }
}

.advantages__item-description {
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    max-width: 200px;

    br {
      display: block;
    }

    .desktop-br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 290px;

    br {
      display: none;
    }

    .desktop-br {
      display: block;
    }

    .tablet-br {
      display: block;
    }
  }
}
