.page-body {
  background-color: $light-gray;

  font-family: $main-font;

  @include font-set (14px, 21px);
  text-align: center;
  text-transform: uppercase;
  color: $basic-black;

  padding: 0;
  margin: 0;

  min-width: 320px;
}
