.social-list {
  @include list-style;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-list__item {
  margin-right: 6px;
  padding: 3px 0;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: flex;
  align-items: center;

  width: 46px;
  height: 46px;

  color: $basic-white;

  background-color: $primary-color;

  @include indent-reset;

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  &--twitter::after {
    width: 18px;
    height: 15px;
    background-image: url("../img/twitter.svg");
  }

  &--facebook::after {
    width: 9px;
    height: 19px;
    background-image: url("../img/facebook.svg");
  }

  &--youtube::after {
    width: 20px;
    height: 14px;
    background-image: url("../img/youtube.svg");
  }

  &:hover,
  &:focus-within {
    background-color: $primary-color-hover;
  }

  &:active {
    background-color: $primary-color-active;

    &::after {
      opacity: 0.3;
    }
  }
}
