@import "styles/vars";

.menu {
	&__topItem {
		margin-bottom: 20px;
	}

	&__topLink {
		display: grid;
		align-items: center;

		font-size: 18px;
		font-weight: 500;
		grid-template-columns: 24px 1fr;
		gap: 20px;

		&:hover,
		&_active {
			color: $c_brand;
		}
	}

	&__middle {
		margin-top: 14px;
		margin-left: 12px;
		padding: 8px 0 8px 32px;

		border-left: 1px solid #DFDFDF;
	}

	&__middleItem {
		overflow: hidden;
	}

	&__middleName {
		display: block;

		margin-bottom: 12px;
		padding: 0 2px;

		cursor: pointer;
		text-transform: uppercase;

		color: $c_text-light;
		border: none;
		outline-offset: -1px;
		background: none;

		font-size: 12px;
		font-weight: 500;

		&:hover {
			color: $c_brand;
		}
	}

	&__loverLink {
		display: block;

		margin: 0 0 10px 10px;
		padding: 0 2px;

		color: $c_text-light;

		font-size: 14px;
		font-weight: 300;

		&:hover,
		&_active {
			color: $c_brand;
		}
	}
}
