@import "../../styles/vars";

.product {
	margin-top: 20px;
	padding: 30px;

	border-radius: 5px;
	background: $c_white;
	box-shadow: 0 4px 4px $c_white;

	&__header {
		display: grid;

		margin-bottom: 30px;
		padding-bottom: 30px;

		border-bottom: 1px solid $c_border;
		grid-gap: 8px 0;
		grid-template-columns: 70px 30px 1fr 30px auto 40px auto 40px auto;
		grid-template-areas:
			"logo . title . price . credit . rating"
			"logo . tags . priceTitle . creditTitle . reviewCount";
	}

	&__logo {
		grid-area: logo;
	}

	&__title {
		grid-area: title;
	}

	&__price {
		display: flex;
		align-items: center;
		align-self: end;

		white-space: nowrap;

		font-size: 20px;
		line-height: 27px;
		grid-area: price;
	}

	&__oldPrice {
		margin-left: 6px;

		white-space: nowrap;

		font-size: 12px;
		font-weight: 700;
		line-height: 12px;
	}

	&__credit {
		align-self: end;

		white-space: nowrap;

		font-size: 20px;
		line-height: 27px;
		grid-area: credit;

		span {
			font-size: 16px;
		}
	}

	&__rating {
		align-self: end;
		grid-area: rating;
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		grid-area: tags;
	}

	&__tag {
		margin-right: 5px;
		margin-bottom: 5px;

		&:last-child {
			margin-right: 0;
		}

		div {
			white-space: nowrap;
		}
	}

	&__priceTitle {
		color: $c_text;

		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
		grid-area: priceTitle;
	}

	&__creditTitle {
		color: $c_text;

		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
		grid-area: creditTitle;
	}

	&__reviewCount {
		color: $c_text;

		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
		grid-area: reviewCount;
	}

	&__description {
		margin-bottom: 15px;
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 60px 50%;
		grid-template-areas:
			"characteristics . advantages"
			"characteristics . disadvantages";
	}

	&__characteristics {
		grid-area: characteristics;
	}

	&__characteristic {
		display: grid;
		gap: 10px;
		grid-template-columns: auto 1fr auto;
	}

	&__characteristicName {
		font-weight: 700;
	}

	&__characteristicDots {
		margin-bottom: 5px;

		border-bottom: 1px dashed $c_border;
	}

	&__advantages {
		grid-area: advantages;

		&::after {
			background: $c_success;
		}
	}

	&__disadvantages {
		margin-top: 20px;
		grid-area: disadvantages;

		&::after {
			background: $c_alert;
		}
	}

	&__advantages,
	&__disadvantages {
		position: relative;

		padding-left: 15px;

		span {
			display: block;

			margin-bottom: 5px;

			font-weight: 700;
		}

		&::after {
			position: absolute;
			top: 0;
			left: 0;

			display: block;

			width: 3px;
			height: 100%;

			content: "";

			border-radius: 2px;
		}
	}

	&__buttons {
		margin-top: 30px;
		padding-top: 30px;

		border-top: 1px solid $c_border;

		button:first-child {
			margin-right: 20px;
		}
	}

	&__emptyReviews {
		padding: 0 30px;

		border-radius: 5px;
		background: $c_white;
		box-shadow: 0 4px 4px $c_white;

		p {
			padding: 30px 0;

			border-top: 1px solid $c_border;
		}
	}

	&__reviewBlock {
		overflow: hidden;
	}
}

@media (max-width: $br_l) {
	.product {
		padding: 20px;

		&__header {
			grid-gap: 10px;
			grid-template-columns: 70px auto auto auto;
			grid-template-areas:
				"logo title title title"
				"tags tags tags tags"
				"price price credit rating"
				"priceTitle priceTitle creditTitle reviewCount";
		}

		&__emptyReviews {
			padding: 0 20px;

			p {
				padding: 20px 0;
			}
		}
	}
}

@media (max-width: $br_s) {
	.product {
		padding: 10px;

		&__header {
			margin-bottom: 20px;
			padding-bottom: 20px;
			grid-template-columns: 70px auto;
			grid-template-areas:
				"logo title"
				"tags tags"
				"price price"
				"priceTitle priceTitle"
				"credit credit"
				"creditTitle creditTitle"
				"rating rating"
				"reviewCount reviewCount";
		}

		&__body {
			gap: 20px;
			grid-template-columns: 1fr;
			grid-template-areas:
				"characteristics"
				"advantages";
		}

		&__buttons {
			margin-top: 20px;
			padding-top: 20px;
		}

		&__emptyReviews {
			padding: 0 10px;

			p {
				padding: 10px 0;
			}
		}
	}
}
