@import "../../styles/vars";

.review {
	padding: 30px 30px 0;

	border-radius: 5px;
	background: $c_light-brand;
	box-shadow: 0 4px 4px $c_shadow;

	&__header {
		display: grid;
		align-items: center;

		margin-bottom: 10px;
		grid-gap: 20px;
		grid-template-columns: 30px auto auto 1fr auto;
	}

	&__name {
		color: $c_text;

		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
	}

	&__title {
		color: $c_text;

		font-size: 14px;
		line-height: 24px;
	}

	&__date {
		white-space: nowrap;

		color: $c_text;

		font-size: 14px;
		line-height: 24px;
		justify-self: end;
	}

	&__description {
		padding-bottom: 30px;

		border-bottom: 1px solid $c_border;
	}
}

@media (max-width: $br-m) {
	.review {
		padding: 20px 20px 0;
	}
}

@media (max-width: $br-s) {
	.review {
		padding: 10px 10px 0;

		&__header {
			grid-template-columns: 30px auto 1fr;
			grid-template-areas:
				"user name title"
				"date date rating";
		}

		&__name {
			grid-area: name;
		}

		&__icon {
			grid-area: user;
		}

		&__title {
			grid-area: title;
		}

		&__date {
			grid-area: date;
			justify-self: start;
		}

		&__rating {
			grid-area: rating;
		}
	}
}
